
body {
  font-family:'proxima-nova',Helvetica,Arial,sans-serif;
  font-weight:400;
  background-color:rgba(255,255,255,0.95);
}

.topbar {
  font-family:'proxima-nova',Helvetica,Arial,sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background:rgba(255,255,255,0.95);
  z-index: 9999999;
}

.mobile-toggle {
  display:none;
}

@media only screen and (max-width: 40.063em) {
    .mobile-toggle{
      cursor: pointer;
      display: block;
      position: fixed;
      top:0;
      right:0;
      z-index: 99999;
    }

    .button-group{
      display: block;
      position: fixed;
      top: -100px;
      left: 0px;
      right: 0px;
      z-index: -99;
    }

    .namelogo {
      background: white;
    }

    .button-group.active{
      display: block;
      position: fixed;
      top: 73px;
      color:rgba(0,0,0,1);
      background: white;
      font-family:'proxima-nova',Helvetica,Arial,sans-serif;
      font-weight: lighter;
      margin:0;
      text-align: center;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
}

.hero {
  margin-top: 73px;
}

.button {
  font-family:'proxima-nova',Helvetica,Arial,sans-serif;
  padding: 20px;
  line-height: 30px;
}
/*
.button-group li {
  padding-top:5%;
}*/

.button-group a {
  color:rgba(0,0,0,1);
  background-color:transparent;
  font-family:'proxima-nova',Helvetica,Arial,sans-serif;
  font-weight: lighter;
  margin:0;
}

.button-group a:hover {
  color:rgba(0,0,0,0.4);
  background-color:transparent;
}

.button-group {
  float:none;
  text-align:center;
}

@media only screen and (min-width: 40.063em) {
  .button-group {
    float:right;
  }
}

.namelogo {
  padding:20px 10px;
}

@media only screen and (min-width: 40.063em) {
  .namelogo{
    padding-bottom:20px;
  }
}

.namelogo h1 {
  font-size:1.5em;
  font-weight:300;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-family:'proxima-nova',Helvetica,Arial,sans-serif;
  margin: 0;
  padding-left: 10px;
}

@media only screen and (min-width: 40.063em) {
  .namelogo h1 {
    font-size:24px;
    text-align:left;
  }
}

@media only screen and (min-width: 64.063em) {
  .namelogo h1 {
    font-size:24px;
    text-align:left;
  }
}

.hero {
  background:url(foundation-5.5.0/img/pointy-building.jpeg);
  background-size:cover;
  box-shadow:inset 0px 0px 0 2000px rgba(0,0,0,0.15);
  height:80%;
}

.intro-text{
  padding-top:40%;
  color:rgba(255,255,255,1);
  text-align:center;
}

@media only screen and (min-width: 40.063em) {
  .intro-text{
    padding-top:25%;
  }
}

@media only screen and (min-width: 64.063em) {
  .intro-text{
    padding-top:18%;
  }
}

.intro-text p{
  font-family:"proxima-nova",sans-serif;;
  font-size:25px;
  letter-spacing: 0.05em;
  font-weight: lighter;
}

.about{
  padding:50px 0 0 0;
  text-align: center;
}

.about h3{
  letter-spacing: 0.2em;
  font-family:"proxima-nova",sans-serif;
  text-align: center;
}

.about img{
  margin: 25px auto;
}


.about p {
  font-weight: lighter;
}

.portfolio,.contact{
  padding:15px 0 0 0;
}

.about img {
  width:250px;
  height:250px;
  border-radius:150px;
  -webkit-border-radius:150px;
  -moz-border-radius:150px;
}

.skills h3 {
  text-align: center;
  margin-bottom: 25px;
  font-family:'proxima-nova',Helvetica,Arial,sans-serif;
  letter-spacing: 0.2em;
}

.skills ul {
  margin: 0 0;
}

.skills li {
  padding: 5px 0;
  list-style-type: none;
  text-align: center;
  font-weight: lighter;
}


.portfolio img:hover{
  opacity:0.5;
  -webkit-transition:0.3s ease;
  -moz-transition:0.3s ease;-ms-transition:0.3s ease;
  -o-transition:0.3s ease;transition:0.3s ease;
}

.portfolio h3 {
  text-align: center;
  margin-bottom: 25px;
  font-family:'proxima-nova',Helvetica,Arial,sans-serif;
  letter-spacing: 0.2em;
}

.portfolio li {
  margin: 0;
  overflow:hidden;
}

.portfolio h5 {
  padding: 20px 0 0 0;
}

.portfolio p {
  font-weight: lighter
}


hr {
  border:0;
  margin: 50px;
  height:1px;
  background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  opacity:0.8;
}

.contact h3{
  text-align: center;
  letter-spacing: 0.2em;
  font-family:'proxima-nova',Helvetica,Arial,sans-serif;
}

.contact ul {
  text-align: center;
  margin:0;
}

.contact li {
  display: inline-block;
  list-style-type: none;
}

.contact i {
  color: black;
  padding: 20px;
}

.mobile-toggle i{
  padding:20px;
}

@media only screen and (max-width: 40.063em) {
  .contact i {
    padding:10px;
  }
}

#facebookicon:hover {
  color: rgb(78, 111, 178);
}

#linkedinicon:hover {
  color: rgb(91, 183, 216);
}

#githubicon:hover {
  color: rgb(155, 59, 206);
}

#emailicon:hover {
  color: rgb(232, 44, 12);
}

footer{
  padding:80px 0 10px 0;
}

